#工作流名称
name: deploy-website
#定义工作流触发时机，当master分支有push时，触发
on:
  push:
   branches:
    - master
  pull-request:
   branches:
    - master
  workflow_dispatch:
#任务，可通过needs指定任务顺序
jobs:
 main:
 #工作流运行的虚拟机环境，默认ubuntu
  runs-on: ubuntu-laster
  #当前任务下的步骤
  steps:
  #步骤名 1、Checkout 拉取代码
   - name: Checkout
     #步骤使用的actions，可以是一个或多个
     uses: actions/checkout@v2
   - name: install node.js
     uses: actions/setup-node@v2
     with:
       node-version: '14.x' #node.js版本
    #2、安装依赖和打包
   - name: Install and Build
     #步骤的命令 env步骤所需环境
     run: |
        npm install
        npm run build
   #3、上传自服务器部署
   - name: copy dist file with deploy
     uses: appleboy/scp-action@v0.0.1
     with:
       host: ${{secrets.REMOTE_HOST}}
       username: ${{secrets.REMOTE_USER}}
       password: ${{secrets.REMOTE_PASS}}
       port: 22
       source: 'docs/',
       target: ${{secrets.REMOTE_TAGRET}}

     
